@charset "UTF-8";
.accordion-custom .card {
	border: none;
	border-radius: .25rem
}

.accordion-custom .card-block,
.accordion-custom .card-header {
	background: #fff;
	border: 1px solid #eee
}

.accordion-custom .card-header {
	padding: 0
}

.accordion-custom .card-heading {
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 1rem;
	position: relative;
	font-size: 1rem;
	font-weight: 400
}

.accordion-custom .card-block {
	padding: 1rem;
	font-size: 1rem;
	color: #6a6c6f;
	line-height: 1.6
}

.accordion-custom .card-heading:after {
	content: "\f067";
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 2rem;
	font-size: 1rem;
	text-align: center;
	display: inline-block;
	color: #6a6c6f;
	position: absolute;
	right: 1rem;
	top: .75rem
}

.accordion-custom .card-heading[aria-expanded=true]:after {
	content: "\f068"
}

.alert {
	border-radius: 0
}

.alert .close {
	opacity: .3
}

.alert-rounded {
	border-radius: .25rem
}

.alert-outline {
	background: none
}

.alert-outline.alert-info {
	color: #2196f3;
	border-color: #2196f3
}

.alert-outline.alert-info .close {
	color: #2196f3
}

.alert-outline.alert-success {
	color: #4caf50;
	border-color: #4caf50
}

.alert-outline.alert-success .close {
	color: #4caf50
}

.alert-outline.alert-warning {
	color: #ff9800;
	border-color: #ff9800
}

.alert-outline.alert-warning .close {
	color: #ff9800
}

.alert-outline.alert-danger {
	color: #f44336;
	border-color: #f44336
}

.alert-outline.alert-danger .close {
	color: #f44336
}

.alert-outline .close {
	opacity: 1
}

@-webkit-keyframes scaleIn {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scaleIn {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.scaleInDownLeft {
	-webkit-transform-origin: right top;
	-ms-transform-origin: right top;
	transform-origin: right top
}

.scaleInDownLeft,
.scaleInDownRight {
	-webkit-animation-duration: .25s;
	animation-duration: .25s;
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn
}

.scaleInDownRight {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top
}

.avatar {
	position: relative;
	width: 3rem;
	height: 3rem;
	border-radius: 3px;
	margin-right: 1rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	color: #fff
}

.avatar a>img,
.avatar img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	display: block;
	border-radius: 3px
}

.avatar-circle,
.avatar-circle img {
	border-radius: 100%!important
}

.avatar-sm {
	width: 2.5rem;
	height: 2.5rem
}

.avatar-lg {
	width: 4rem;
	height: 4rem;
	font-size: 1.25rem;
	font-weight: 700
}

.bg-none {
	background: none!important
}

.bg-white {
	background-color: #fff!important
}

.bg-black {
	background-color: #282828!important;
	color: #fff!important
}

.bg-inverse {
	background-color: #3b3e47!important;
	color: #fff!important
}

.bg-pink {
	background-color: #e91e63!important
}

.bg-pink,
.bg-purple {
	color: #fff!important
}

.bg-purple {
	background-color: #9c27b0!important
}

.bg-gray {
	background-color: #bbb!important;
	color: #fff!important
}

.bg-eee {
	background: #eee!important
}

.bg-faded {
	background: #f5f7f9!important
}

.bg-facebook,
.bg-hv-facebook:hover {
	background-color: #3b5998!important;
	color: #fff!important
}

.bg-hv-twitter:hover,
.bg-twitter {
	background-color: #1da1f2!important;
	color: #fff!important
}

.bg-google-plus,
.bg-hv-google-plus:hover {
	background-color: #dd4b39!important;
	color: #fff!important
}

.bg-hv-youtube:hover,
.bg-youtube {
	background-color: #cd201f!important;
	color: #fff!important
}

.bg-hv-linkedin:hover,
.bg-linkedin {
	background-color: #0077b5!important;
	color: #fff!important
}

.bg-flickr,
.bg-hv-flickr:hover {
	background-color: #ff0084!important;
	color: #fff!important
}

.bg-hv-tumblr:hover,
.bg-tumblr {
	background-color: #35465c!important;
	color: #fff!important
}

.bg-dribbble,
.bg-hv-dribbble:hover {
	background-color: #ea4c89!important;
	color: #fff!important
}

.bg-red-500 {
	background-color: #f44336!important
}

.bg-red-700 {
	background-color: #d32f2f!important
}

.bg-pink-500 {
	background-color: #e91e63!important
}

.bg-pink-700 {
	background-color: #c2185b!important
}

.bg-purple-500 {
	background-color: #9c27b0!important
}

.bg-purple-700 {
	background-color: #7b1fa2!important
}

.bg-indigo-500 {
	background-color: #3f51b5!important
}

.bg-indigo-700 {
	background-color: #303f9f!important
}

.bg-blue-500 {
	background-color: #2196f3!important
}

.bg-blue-700 {
	background-color: #1976d2!important
}

.bg-cyan-500 {
	background-color: #00bcd4!important
}

.bg-cyan-700 {
	background-color: #0097a7!important
}

.bg-teal-500 {
	background-color: #009688!important
}

.bg-teal-700 {
	background-color: #00796b!important
}

.bg-green-500 {
	background-color: #4caf50!important
}

.bg-green-700 {
	background-color: #388e3c!important
}

.bg-yellow-500 {
	background-color: #ffeb3b!important
}

.bg-yellow-700 {
	background-color: #fbc02d!important
}

.bg-orange-500 {
	background-color: #ff9800!important
}

.bg-orange-700 {
	background-color: #f57c00!important
}

.bg-brown-500 {
	background-color: #795548!important
}

.bg-brown-700 {
	background-color: #5d4037!important
}

.bg-gray-500 {
	background-color: #9e9e9e!important
}

.bg-gray-700 {
	background-color: #616161!important
}

.border-a-0 {
	border: none!important
}

.border-a-1 {
	border: 1px solid #eee!important
}

.border-a-2 {
	border: 2px solid #eee!important
}

.border-t-0 {
	border-top: none!important
}

.border-t-1 {
	border-top: 1px solid #eee!important
}

.border-t-2 {
	border-top: 2px solid #eee!important
}

.border-r-0 {
	border-right: none!important
}

.border-r-1 {
	border-right: 1px solid #eee!important
}

.border-r-2 {
	border-right: 2px solid #eee!important
}

.border-b-0 {
	border-bottom: none!important
}

.border-l-0 {
	border-left: none!important
}

.border-b-1 {
	border-bottom: 1px solid #eee!important
}

.border-b-2 {
	border-bottom: 2px solid #eee!important
}

.border-l-1 {
	border-left: 1px solid #eee!important
}

.border-l-2 {
	border-left: 2px solid #eee!important
}

.border-color-primary {
	border-color: #3f51b5!important
}

.border-color-success {
	border-color: #4caf50!important
}

.border-color-warning {
	border-color: #ff9800!important
}

.border-color-danger {
	border-color: #f44336!important
}

.btn {
	outline: none!important
}

.btn:focus {
	outline: none
}

.btn-group-sm>.btn,
.btn-sm {
	font-size: .75rem
}

.btn-icon {
	padding: 0;
	line-height: 2rem;
	width: 2rem;
	height: 2rem;
	border: 1px solid #eee;
	cursor: pointer
}

.btn-icon.btn-sm {
	line-height: 1.5rem;
	width: 1.5rem;
	height: 1.5rem
}

.btn-icon.btn-lg {
	line-height: 2.5rem;
	width: 2.5rem;
	height: 2.5rem
}

.btn-icon-flip {
	position: relative;
	overflow: hidden
}

.btn-icon-flip,
.btn-icon-flip:active,
.btn-icon-flip:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-icon-flip i {
	border-radius: inherit;
	-webkit-transition: top .25s;
	-o-transition: top .25s;
	transition: top .25s;
	line-height: inherit;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0
}

.btn-icon-flip i:last-child {
	top: 100%
}

.btn-icon-flip:hover i:first-child {
	top: -100%
}

.btn-icon-flip:hover i:last-child {
	top: 0
}

.btn-default {
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc
}

.btn-default:hover {
	color: #292b2c;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default.focus,
.btn-default:focus {
	-webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 80%, .5);
	box-shadow: 0 0 0 2px hsla(0, 0%, 80%, .5)
}

.btn-default.disabled,
.btn-default:disabled {
	background-color: #fff;
	border-color: #ccc
}

.btn-default.active,
.btn-default:active,
.show>.btn-default.dropdown-toggle {
	color: #292b2c;
	background-color: #e6e6e6;
	background-image: none;
	border-color: #adadad
}

.btn-rounded {
	border-radius: 1000px
}

.social-icon {
	font-size: 1rem;
	margin-right: .25rem;
	margin-left: .25rem
}

.card {
	width: 100% !important;
	margin-bottom: 24px;
	border-radius: 0
}

.card-toolbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -.75rem
}

.card-toolbar>li>a {
	padding: .5rem .75rem;
	font-size: 1rem
}

.card-header {
	width: 100% !important;
	padding: .75rem 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.card-header:after {
	display: none
}

.card-heading {
	margin: 0;
	font-size: 1rem
}

.card-img-top {
	width: 100%;
	border-radius: 0;
	height: auto;
}

.card-img-overlay {
	padding: 1.5rem
}

.card .table {
	margin: 0
}

.card .table tr:first-child td {
	border-top: none
}

.card .table td,
.card .table th {
	padding: .875rem 1.5rem
}

.cover {
	position: relative
}

.cover-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.5rem
}

#jqstooltip {
	display: block;
	background: #36404a;
	color: #fff;
	border-radius: 3px;
	padding: 8px 16px!important;
	width: auto!important;
	height: auto!important;
	border: none;
	white-space: nowrap
}

#pieLegend .legendColorBox>div {
	border: none!important
}

#pieLegend .legendColorBox>div>div {
	border-width: 7px!important
}

#pieLegend .legendColorBox,
#pieLegend .legendLabel {
	padding: .2rem 0 .4rem
}

#pieLegend .legend-label {
	font-weight: 500;
	margin-top: .5em;
	margin-left: .5em
}

.flotTip {
	background: #36404a;
	color: #fff;
	padding: 8px 16px;
	border-radius: 3px;
	font-family: lato, Helvetica, serif
}

.small-chart {
	margin-top: 4px
}

.chart {
	height: 300px;
	width: 100%
}

.morris-hover.morris-default-style {
	border-radius: 5px;
	padding: 10px 12px;
	color: #666;
	background: #36404a;
	border: none;
	color: #fff!important
}

.morris-hover.morris-default-style .morris-hover-point {
	color: #fff!important
}

.chart-legend {
	margin-bottom: 16px;
	text-align: center
}

.chart-legend .chart-legend-label .fa {
	display: inline-block;
	margin-right: 6px
}

.sparkline-chart canvas {
	display: block!important;
	margin: 0 auto
}

.pieprogress {
	position: relative
}

.pieprogress strong {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 20px
}

.circle {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.circle-xs {
	width: 2rem;
	height: 2rem
}

.circle-sm {
	width: 2.5rem;
	height: 2.5rem
}

.circle-lg {
	width: 4rem;
	height: 4rem
}

.checkbox {
	position: relative;
	padding-left: 22px;
	display: block;
	margin-top: .5rem;
	margin-bottom: .5rem
}

.checkbox label {
	position: relative;
	padding-left: 10px;
	margin: 0;
	min-height: 22px;
	vertical-align: middle;
	cursor: pointer
}

.checkbox label:empty {
	padding-left: 0
}

.checkbox input[type=checkbox],
.checkbox label:after,
.checkbox label:before {
	height: 22px;
	width: 22px;
	position: absolute;
	left: 0;
	top: 0
}

.checkbox label:after,
.checkbox label:before {
	content: "";
	margin-left: -22px
}

.checkbox label:before {
	background: #fff;
	border: 1px solid #eee;
	-webkit-transition: background .15s, border-color .15s;
	-o-transition: background .15s, border-color .15s;
	transition: background .15s, border-color .15s;
	border-radius: .25rem
}

.checkbox label:after {
	line-height: 22px;
	color: inherit;
	font-family: FontAwesome;
	text-align: center;
	background-color: transparent;
	font-style: normal;
	color: #818a91;
	font-size: .875rem
}

.checkbox input[type=checkbox] {
	opacity: 0;
	z-index: 1;
	cursor: pointer
}

.checkbox input[type=checkbox]:checked+label:after {
	content: ""
}

.checkbox input[type=checkbox]:indeterminate+label:after {
	display: block;
	content: "";
	width: 10px;
	height: 3px;
	background-color: #555;
	border-radius: 2px;
	margin-left: -16.5px;
	margin-top: 7px
}

.checkbox input[type=checkbox]:disabled {
	cursor: not-allowed
}

.checkbox input[type=checkbox]:disabled+label {
	opacity: .65;
	cursor: not-allowed
}

.checkbox input[type=checkbox]:disabled+label:before {
	background-color: #f5f7f9
}

.checkbox.checkbox-circle label:before {
	border-radius: 50%
}

.checkbox.checkbox-square label:before {
	border-radius: 0
}

.checkbox.checkbox-lg {
	padding-left: 26px
}

.checkbox.checkbox-lg label {
	padding-left: 12px;
	min-height: 26px
}

.checkbox.checkbox-lg input[type=checkbox],
.checkbox.checkbox-lg label:after,
.checkbox.checkbox-lg label:before {
	width: 26px;
	height: 26px
}

.checkbox.checkbox-lg label:after,
.checkbox.checkbox-lg label:before {
	margin-left: -26px
}

.checkbox.checkbox-lg label:after {
	line-height: 26px;
	font-size: 1rem
}

.checkbox.checkbox-inline {
	display: inline-block
}

.radio {
	position: relative;
	padding-left: 20px;
	display: block;
	margin-top: .5rem;
	margin-bottom: .5rem
}

.radio label {
	position: relative;
	padding-left: .5rem;
	margin: 0;
	min-height: 20px;
	vertical-align: middle;
	cursor: pointer
}

.radio label:empty {
	padding-left: 0
}

.radio input[type=radio],
.radio label:before {
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0;
	top: 0
}

.radio label:after,
.radio label:before {
	content: " ";
	margin-left: -20px
}

.radio label:before {
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border .15s ease-in-out;
	-o-transition: border .15s ease-in-out;
	transition: border .15s ease-in-out
}

.radio label:after {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	border-radius: 50%;
	background-color: #818a91;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
	transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
	-o-transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33);
	transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33);
	transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33), -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33)
}

.radio input[type=radio] {
	opacity: 0;
	z-index: 1;
	cursor: pointer
}

.radio input[type=radio]:checked+label:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.radio input[type=radio]:disabled {
	cursor: not-allowed
}

.radio input[type=radio]:disabled+label {
	opacity: .65;
	cursor: not-allowed
}

.radio input[type=radio]:disabled+label:before {
	cursor: not-allowed
}

.radio.radio-inline {
	display: inline-block
}

.checkbox-red input[type=checkbox]:checked+label:before,
.checkbox-red input[type=radio]:checked+label:before {
	background-color: #f44336;
	border-color: #f44336
}

.checkbox-red input[type=checkbox]:checked+label:after,
.checkbox-red input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-pink input[type=checkbox]:checked+label:before,
.checkbox-pink input[type=radio]:checked+label:before {
	background-color: #e91e63;
	border-color: #e91e63
}

.checkbox-pink input[type=checkbox]:checked+label:after,
.checkbox-pink input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-purple input[type=checkbox]:checked+label:before,
.checkbox-purple input[type=radio]:checked+label:before {
	background-color: #9c27b0;
	border-color: #9c27b0
}

.checkbox-purple input[type=checkbox]:checked+label:after,
.checkbox-purple input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-indigo input[type=checkbox]:checked+label:before,
.checkbox-indigo input[type=radio]:checked+label:before {
	background-color: #3f51b5;
	border-color: #3f51b5
}

.checkbox-indigo input[type=checkbox]:checked+label:after,
.checkbox-indigo input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-blue input[type=checkbox]:checked+label:before,
.checkbox-blue input[type=radio]:checked+label:before {
	background-color: #2196f3;
	border-color: #2196f3
}

.checkbox-blue input[type=checkbox]:checked+label:after,
.checkbox-blue input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-cyan input[type=checkbox]:checked+label:before,
.checkbox-cyan input[type=radio]:checked+label:before {
	background-color: #00bcd4;
	border-color: #00bcd4
}

.checkbox-cyan input[type=checkbox]:checked+label:after,
.checkbox-cyan input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-teal input[type=checkbox]:checked+label:before,
.checkbox-teal input[type=radio]:checked+label:before {
	background-color: #009688;
	border-color: #009688
}

.checkbox-teal input[type=checkbox]:checked+label:after,
.checkbox-teal input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-green input[type=checkbox]:checked+label:before,
.checkbox-green input[type=radio]:checked+label:before {
	background-color: #4caf50;
	border-color: #4caf50
}

.checkbox-green input[type=checkbox]:checked+label:after,
.checkbox-green input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-yellow input[type=checkbox]:checked+label:before,
.checkbox-yellow input[type=radio]:checked+label:before {
	background-color: #ffeb3b;
	border-color: #ffeb3b
}

.checkbox-yellow input[type=checkbox]:checked+label:after,
.checkbox-yellow input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-orange input[type=checkbox]:checked+label:before,
.checkbox-orange input[type=radio]:checked+label:before {
	background-color: #ff9800;
	border-color: #ff9800
}

.checkbox-orange input[type=checkbox]:checked+label:after,
.checkbox-orange input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-brown input[type=checkbox]:checked+label:before,
.checkbox-brown input[type=radio]:checked+label:before {
	background-color: #795548;
	border-color: #795548
}

.checkbox-brown input[type=checkbox]:checked+label:after,
.checkbox-brown input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-gray input[type=checkbox]:checked+label:before,
.checkbox-gray input[type=radio]:checked+label:before {
	background-color: #9e9e9e;
	border-color: #9e9e9e
}

.checkbox-gray input[type=checkbox]:checked+label:after,
.checkbox-gray input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-primary input[type=checkbox]:checked+label:before,
.checkbox-primary input[type=radio]:checked+label:before {
	background-color: #3f51b5;
	border-color: #3f51b5
}

.checkbox-primary input[type=checkbox]:checked+label:after,
.checkbox-primary input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-danger input[type=checkbox]:checked+label:before,
.checkbox-danger input[type=radio]:checked+label:before {
	background-color: #f44336;
	border-color: #f44336
}

.checkbox-danger input[type=checkbox]:checked+label:after,
.checkbox-danger input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-info input[type=checkbox]:checked+label:before,
.checkbox-info input[type=radio]:checked+label:before {
	background-color: #2196f3;
	border-color: #2196f3
}

.checkbox-info input[type=checkbox]:checked+label:after,
.checkbox-info input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-warning input[type=checkbox]:checked+label:before,
.checkbox-warning input[type=radio]:checked+label:before {
	background-color: #ff9800;
	border-color: #ff9800
}

.checkbox-warning input[type=checkbox]:checked+label:after,
.checkbox-warning input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-success input[type=checkbox]:checked+label:before,
.checkbox-success input[type=radio]:checked+label:before {
	background-color: #4caf50;
	border-color: #4caf50
}

.checkbox-success input[type=checkbox]:checked+label:after,
.checkbox-success input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-dark input[type=checkbox]:checked+label:before,
.checkbox-dark input[type=radio]:checked+label:before {
	background-color: #282828;
	border-color: #282828
}

.checkbox-dark input[type=checkbox]:checked+label:after,
.checkbox-dark input[type=radio]:checked+label:after {
	color: #fff
}

.checkbox-red input[type=checkbox]:indeterminate+label:before,
.checkbox-red input[type=radio]:indeterminate+label:before {
	background-color: #f44336;
	border-color: #f44336
}

.checkbox-red input[type=checkbox]:indeterminate+label:after,
.checkbox-red input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-pink input[type=checkbox]:indeterminate+label:before,
.checkbox-pink input[type=radio]:indeterminate+label:before {
	background-color: #e91e63;
	border-color: #e91e63
}

.checkbox-pink input[type=checkbox]:indeterminate+label:after,
.checkbox-pink input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-purple input[type=checkbox]:indeterminate+label:before,
.checkbox-purple input[type=radio]:indeterminate+label:before {
	background-color: #9c27b0;
	border-color: #9c27b0
}

.checkbox-purple input[type=checkbox]:indeterminate+label:after,
.checkbox-purple input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-indigo input[type=checkbox]:indeterminate+label:before,
.checkbox-indigo input[type=radio]:indeterminate+label:before {
	background-color: #3f51b5;
	border-color: #3f51b5
}

.checkbox-indigo input[type=checkbox]:indeterminate+label:after,
.checkbox-indigo input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-blue input[type=checkbox]:indeterminate+label:before,
.checkbox-blue input[type=radio]:indeterminate+label:before {
	background-color: #2196f3;
	border-color: #2196f3
}

.checkbox-blue input[type=checkbox]:indeterminate+label:after,
.checkbox-blue input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-cyan input[type=checkbox]:indeterminate+label:before,
.checkbox-cyan input[type=radio]:indeterminate+label:before {
	background-color: #00bcd4;
	border-color: #00bcd4
}

.checkbox-cyan input[type=checkbox]:indeterminate+label:after,
.checkbox-cyan input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-teal input[type=checkbox]:indeterminate+label:before,
.checkbox-teal input[type=radio]:indeterminate+label:before {
	background-color: #009688;
	border-color: #009688
}

.checkbox-teal input[type=checkbox]:indeterminate+label:after,
.checkbox-teal input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-green input[type=checkbox]:indeterminate+label:before,
.checkbox-green input[type=radio]:indeterminate+label:before {
	background-color: #4caf50;
	border-color: #4caf50
}

.checkbox-green input[type=checkbox]:indeterminate+label:after,
.checkbox-green input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-yellow input[type=checkbox]:indeterminate+label:before,
.checkbox-yellow input[type=radio]:indeterminate+label:before {
	background-color: #ffeb3b;
	border-color: #ffeb3b
}

.checkbox-yellow input[type=checkbox]:indeterminate+label:after,
.checkbox-yellow input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-orange input[type=checkbox]:indeterminate+label:before,
.checkbox-orange input[type=radio]:indeterminate+label:before {
	background-color: #ff9800;
	border-color: #ff9800
}

.checkbox-orange input[type=checkbox]:indeterminate+label:after,
.checkbox-orange input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-brown input[type=checkbox]:indeterminate+label:before,
.checkbox-brown input[type=radio]:indeterminate+label:before {
	background-color: #795548;
	border-color: #795548
}

.checkbox-brown input[type=checkbox]:indeterminate+label:after,
.checkbox-brown input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-gray input[type=checkbox]:indeterminate+label:before,
.checkbox-gray input[type=radio]:indeterminate+label:before {
	background-color: #9e9e9e;
	border-color: #9e9e9e
}

.checkbox-gray input[type=checkbox]:indeterminate+label:after,
.checkbox-gray input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-primary input[type=checkbox]:indeterminate+label:before,
.checkbox-primary input[type=radio]:indeterminate+label:before {
	background-color: #3f51b5;
	border-color: #3f51b5
}

.checkbox-primary input[type=checkbox]:indeterminate+label:after,
.checkbox-primary input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-danger input[type=checkbox]:indeterminate+label:before,
.checkbox-danger input[type=radio]:indeterminate+label:before {
	background-color: #f44336;
	border-color: #f44336
}

.checkbox-danger input[type=checkbox]:indeterminate+label:after,
.checkbox-danger input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-info input[type=checkbox]:indeterminate+label:before,
.checkbox-info input[type=radio]:indeterminate+label:before {
	background-color: #2196f3;
	border-color: #2196f3
}

.checkbox-info input[type=checkbox]:indeterminate+label:after,
.checkbox-info input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-warning input[type=checkbox]:indeterminate+label:before,
.checkbox-warning input[type=radio]:indeterminate+label:before {
	background-color: #ff9800;
	border-color: #ff9800
}

.checkbox-warning input[type=checkbox]:indeterminate+label:after,
.checkbox-warning input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-success input[type=checkbox]:indeterminate+label:before,
.checkbox-success input[type=radio]:indeterminate+label:before {
	background-color: #4caf50;
	border-color: #4caf50
}

.checkbox-success input[type=checkbox]:indeterminate+label:after,
.checkbox-success input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.checkbox-dark input[type=checkbox]:indeterminate+label:before,
.checkbox-dark input[type=radio]:indeterminate+label:before {
	background-color: #282828;
	border-color: #282828
}

.checkbox-dark input[type=checkbox]:indeterminate+label:after,
.checkbox-dark input[type=radio]:indeterminate+label:after {
	background-color: #fff
}

.radio-red input[type=radio]+label:before {
	border-color: #f44336
}

.radio-red input[type=radio]+label:after {
	background-color: #f44336
}

.radio-red input[type=radio]:checked+label:before {
	border-color: #f44336
}

.radio-red input[type=radio]:checked+label:after {
	background-color: #f44336
}

.radio-pink input[type=radio]+label:before {
	border-color: #e91e63
}

.radio-pink input[type=radio]+label:after {
	background-color: #e91e63
}

.radio-pink input[type=radio]:checked+label:before {
	border-color: #e91e63
}

.radio-pink input[type=radio]:checked+label:after {
	background-color: #e91e63
}

.radio-purple input[type=radio]+label:before {
	border-color: #9c27b0
}

.radio-purple input[type=radio]+label:after {
	background-color: #9c27b0
}

.radio-purple input[type=radio]:checked+label:before {
	border-color: #9c27b0
}

.radio-purple input[type=radio]:checked+label:after {
	background-color: #9c27b0
}

.radio-indigo input[type=radio]+label:before {
	border-color: #3f51b5
}

.radio-indigo input[type=radio]+label:after {
	background-color: #3f51b5
}

.radio-indigo input[type=radio]:checked+label:before {
	border-color: #3f51b5
}

.radio-indigo input[type=radio]:checked+label:after {
	background-color: #3f51b5
}

.radio-blue input[type=radio]+label:before {
	border-color: #2196f3
}

.radio-blue input[type=radio]+label:after {
	background-color: #2196f3
}

.radio-blue input[type=radio]:checked+label:before {
	border-color: #2196f3
}

.radio-blue input[type=radio]:checked+label:after {
	background-color: #2196f3
}

.radio-cyan input[type=radio]+label:before {
	border-color: #00bcd4
}

.radio-cyan input[type=radio]+label:after {
	background-color: #00bcd4
}

.radio-cyan input[type=radio]:checked+label:before {
	border-color: #00bcd4
}

.radio-cyan input[type=radio]:checked+label:after {
	background-color: #00bcd4
}

.radio-teal input[type=radio]+label:before {
	border-color: #009688
}

.radio-teal input[type=radio]+label:after {
	background-color: #009688
}

.radio-teal input[type=radio]:checked+label:before {
	border-color: #009688
}

.radio-teal input[type=radio]:checked+label:after {
	background-color: #009688
}

.radio-green input[type=radio]+label:before {
	border-color: #4caf50
}

.radio-green input[type=radio]+label:after {
	background-color: #4caf50
}

.radio-green input[type=radio]:checked+label:before {
	border-color: #4caf50
}

.radio-green input[type=radio]:checked+label:after {
	background-color: #4caf50
}

.radio-yellow input[type=radio]+label:before {
	border-color: #ffeb3b
}

.radio-yellow input[type=radio]+label:after {
	background-color: #ffeb3b
}

.radio-yellow input[type=radio]:checked+label:before {
	border-color: #ffeb3b
}

.radio-yellow input[type=radio]:checked+label:after {
	background-color: #ffeb3b
}

.radio-orange input[type=radio]+label:before {
	border-color: #ff9800
}

.radio-orange input[type=radio]+label:after {
	background-color: #ff9800
}

.radio-orange input[type=radio]:checked+label:before {
	border-color: #ff9800
}

.radio-orange input[type=radio]:checked+label:after {
	background-color: #ff9800
}

.radio-brown input[type=radio]+label:before {
	border-color: #795548
}

.radio-brown input[type=radio]+label:after {
	background-color: #795548
}

.radio-brown input[type=radio]:checked+label:before {
	border-color: #795548
}

.radio-brown input[type=radio]:checked+label:after {
	background-color: #795548
}

.radio-gray input[type=radio]+label:before {
	border-color: #9e9e9e
}

.radio-gray input[type=radio]+label:after {
	background-color: #9e9e9e
}

.radio-gray input[type=radio]:checked+label:before {
	border-color: #9e9e9e
}

.radio-gray input[type=radio]:checked+label:after {
	background-color: #9e9e9e
}

.radio-primary input[type=radio]+label:before {
	border-color: #3f51b5
}

.radio-primary input[type=radio]+label:after {
	background-color: #3f51b5
}

.radio-primary input[type=radio]:checked+label:before {
	border-color: #3f51b5
}

.radio-primary input[type=radio]:checked+label:after {
	background-color: #3f51b5
}

.radio-danger input[type=radio]+label:before {
	border-color: #f44336
}

.radio-danger input[type=radio]+label:after {
	background-color: #f44336
}

.radio-danger input[type=radio]:checked+label:before {
	border-color: #f44336
}

.radio-danger input[type=radio]:checked+label:after {
	background-color: #f44336
}

.radio-info input[type=radio]+label:before {
	border-color: #2196f3
}

.radio-info input[type=radio]+label:after {
	background-color: #2196f3
}

.radio-info input[type=radio]:checked+label:before {
	border-color: #2196f3
}

.radio-info input[type=radio]:checked+label:after {
	background-color: #2196f3
}

.radio-warning input[type=radio]+label:before {
	border-color: #ff9800
}

.radio-warning input[type=radio]+label:after {
	background-color: #ff9800
}

.radio-warning input[type=radio]:checked+label:before {
	border-color: #ff9800
}

.radio-warning input[type=radio]:checked+label:after {
	background-color: #ff9800
}

.radio-success input[type=radio]+label:before {
	border-color: #4caf50
}

.radio-success input[type=radio]+label:after {
	background-color: #4caf50
}

.radio-success input[type=radio]:checked+label:before {
	border-color: #4caf50
}

.radio-success input[type=radio]:checked+label:after {
	background-color: #4caf50
}

.radio-dark input[type=radio]+label:before {
	border-color: #282828
}

.radio-dark input[type=radio]+label:after {
	background-color: #282828
}

.radio-dark input[type=radio]:checked+label:before {
	border-color: #282828
}

.radio-dark input[type=radio]:checked+label:after {
	background-color: #282828
}

.dropdown-menu {
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
	border: none
}

.dropdown-item {
	color: #6a6c6f
}

.dropdown-item:active {
	color: #fff
}

.form-group {
	margin-bottom: 24px
}

.form-control {
	border-radius: 3px;
	height: 38px;
	border-color: #ddd
}

.form-control:active,
.form-control:focus {
	border-color: #ccc;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}

textarea.form-control {
	min-height: 100px
}

label {
	font-size: 14px;
	font-weight: 500
}

.checkbox,
.radio {
	margin-top: 0;
	margin-bottom: 12px
}

.form-inline .form-control {
	min-width: 250px
}

div.dataTables_wrapper div.dataTables_length select {
	width: 100px;
	height: 30px;
	font-weight: 600;
	font-size: 14px
}

div.dataTables_wrapper div.dataTables_filter input {
	width: 200px;
	height: 30px
}

.select2-selection,
.select2-selection.select2-selection--single {
	height: 38px!important
}

.select2-selection.select2-selection--single .select2-selection__rendered {
	line-height: 38px!important
}

.select2-selection .select2-selection__choice {
	margin-top: 8px!important
}

.select2-selection .select2-selection__arrow {
	height: 38px!important
}

.bootstrap-tagsinput {
	width: 100%;
	border-radius: 3px;
	min-height: 38px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ddd
}

.bootstrap-tagsinput:active,
.bootstrap-tagsinput:focus {
	border-color: #ccc;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bootstrap-touchspin .btn.bootstrap-touchspin-down,
.bootstrap-touchspin .btn.bootstrap-touchspin-up {
	height: 38px;
	font-size: 18px
}

.bootstrap-touchspin .input-group-addon {
	border-left: 0;
	border-right: 0
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
	height: 20px;
	width: 25px
}

.bootstrap-touchspin .input-group-btn-vertical>.btn i {
	left: 25%
}

.icon {
	width: 2rem;
	height: 2rem;
	border: 1px solid #eee;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.icon-circle {
	border-radius: 100%
}

.icon-sm {
	width: 1.5rem;
	height: 1.5rem
}

.icon-lg {
	width: 3rem;
	height: 3rem
}

.g__item {
	margin-bottom: 24px;
	display: block
}

.g__item .g__figure {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	margin: 0
}

.g__item .g__figure>img,
.g__item .g__img {
	width: 100%;
	height: auto
}

.g__thumb {
	padding: .5rem;
	background-color: #f5f7f9;
	border: 1px solid #eee
}

.g__item.rounded .g__figure,
.g__item.rounded img {
	border-radius: .25rem
}

.g__overlay {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s
}

.g__item:hover .g__overlay {
	opacity: 1;
	background-color: hsla(0, 0%, 100%, .9)
}

.g__overlay-title {
	line-height: 1.4;
	font-style: italic;
	margin-bottom: .5rem
}

.g__overlay-text {
	font-style: italic;
	font-size: 1rem
}

.g__zoom {
	-ms-flex-item-align: center;
	align-self: center;
	color: #3f51b5
}

.img-gallery-zoom-effect .g__item .g__figure>img,
.img-gallery-zoom-effect .g__item .g__img {
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s
}

.img-gallery-zoom-effect .g__item:hover .g__figure>img,
.img-gallery-zoom-effect .g__item:hover .g__img {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3)
}

.media {
	margin-top: 0
}

.media small {
	color: #818a91;
	font-size: 12px
}

.media-heading {
	margin-bottom: .25rem;
	margin-top: .25rem;
	font-size: 1rem
}

.media-meta {
	font-size: .875rem
}

.media-list .media {
	margin: 0;
	padding: .75rem 1.25rem;
	border-bottom: 1px solid #f5f7f9
}

.media-list .media:last-child {
	border-bottom: none
}

.media-list a.media:focus,
.media-list a.media:hover {
	background-color: #f5f7f9
}

.modal-backdrop.show {
	opacity: .8
}

.modal .modal-dialog {
	max-width: 600px
}

#video-modal {
	padding: 0!important
}

#video-modal .modal-dialog {
	width: 460px;
	height: 250px;
	max-width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 60px auto!important;
	background: #000
}

#video-modal .modal-content {
	width: 100%;
	height: 100%;
	background: #000
}

#video-modal iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: block
}

@media (min-width:576px) {
	#video-modal .modal-dialog {
		width: 560px;
		height: 315px
	}
}

@media (min-width:768px) {
	#video-modal .modal-dialog {
		width: 660px;
		height: 380px
	}
}

@media (min-width:992px) {
	#video-modal .modal-dialog {
		width: 760px;
		height: 440px
	}
}

.poster {
	position: relative
}

.poster,
.poster-bg {
	height: 100%;
	width: 100%
}

.poster-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0
}

.poster-overlay,
.poster-overlay-icon {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.poster-overlay-icon {
	width: 4rem;
	height: 4rem;
	border-radius: 1000px;
	border: 10px solid rgba(0, 0, 0, .2);
	background: #fff;
	color: none
}

.progress-xs .progress-bar {
	height: .5rem
}

.progress-sm .progress-bar {
	height: .75rem
}

.progress-md .progress-bar {
	height: 1rem
}

.progress-lg .progress-bar {
	height: 1.25rem
}

.progress-xl .progress-bar {
	height: 1.5rem
}

body {
	font-size: .875rem;
	font-weight: 300;
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #6a6c6f
}

body.no-padding:not(.menubar-top) .site-content {
	padding-right: 0;
	padding-left: 0
}

body.no-padding .site-content {
	padding-top: 0;
	padding-bottom: 0
}

body.site-header-hidden .site-header {
	display: none
}

a {
	color: #6a6c6f
}

a,
a:focus,
a:hover {
	text-decoration: none
}

.site-menu,
.site-menu ol,
.site-menu ul {
	padding: 0;
	margin: 0
}

svg {
	vertical-align: middle
}

.hamburger {
	background: none
}

.hamburger:focus {
	outline: none
}

.jqvmap-zoomin,
.jqvmap-zoomout {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.scroll-container {
	position: relative;
	overflow: auto;
	height: 100%
}

.ps-scrollbar-y-rail {
	width: 4px!important;
	background: rgba(0, 0, 0, .2)
}

.ps-scrollbar-y {
	background: #bbb!important;
	width: 4px!important
}

.jqstooltip {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.flotTip {
	background: #3f51b5!important;
	color: #fff!important;
	border: none!important;
	padding: .5rem 1rem!important;
	border-radius: .25rem;
	font-family: inherit;
	font-size: .875rem!important
}

table.table-noborder td,
table.table-noborder th {
	border-top: none
}

table.table-noborder tr:nth-child(2) td {
	padding-top: 1.5rem
}

td {
	font-weight: 300
}

th {
	font-weight: 500
}

.thead-success th {
	color: #fff;
	background-color: #4caf50
}

.form-control {
	font-size: 1em
}

.form-control,
.modal-content {
	-webkit-box-shadow: none;
	box-shadow: none
}

.modal-content {
	border: none
}

iframe {
	border: 0
}

.status {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 2px solid #fff
}

.status-online {
	background-color: #4caf50
}

.status-away {
	background-color: #ff9800
}

.status-busy {
	background-color: #f44336
}

.status-offline {
	background-color: #eceeef
}

.table {
	margin-bottom: 0
}

.table th {
	font-size: 14px;
	font-weight: 600
}

.table.no-cellborder {
	margin-top: -2px;
	table-layout: fixed
}

.table.no-cellborder td,
.table.no-cellborder th {
	border: none;
	padding: 8px 0
}

.table.no-cellborder .table-icon {
	margin-right: 6px;
	color: #ccc
}

.fixedHeader-floating {
	top: 64px!important;
	z-index: 90
}

.fixedHeader-floating th {
	background: #edf0f5
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f6f6f6
}

.dt-buttons {
	display: block;
	max-width: 100%;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 16px
}

.dt-buttons .btn {
	background-color: #f6f6f6
}

.text-color {
	color: #6a6c6f!important
}

.title-color {
	color: #373a3c!important
}

.watermark {
	color: #edf0f5!important
}

.text-muted {
	color: inherit;
	opacity: .6!important
}

.text-white {
	color: #fff!important
}

.text-gray {
	color: #aaa!important
}

.text-inverse {
	color: #3b3e47!important
}

.text-black {
	color: #282828!important
}

.text-red {
	color: #f44336!important
}

.text-pink {
	color: #e91e63!important
}

.text-purple {
	color: #9c27b0!important
}

.text-indigo {
	color: #3f51b5!important
}

.text-blue {
	color: #2196f3!important
}

.text-cyan {
	color: #00bcd4!important
}

.text-teal {
	color: #009688!important
}

.text-green {
	color: #4caf50!important
}

.text-yellow {
	color: #ffeb3b!important
}

.text-orange {
	color: #ff9800!important
}

.text-brown {
	color: #795548!important
}

.text-facebook,
.text-hv-facebook:hover {
	color: #3b5998!important
}

.text-hv-twitter:hover,
.text-twitter {
	color: #1da1f2!important
}

.text-google-plus,
.text-hv-google-plus:hover {
	color: #dd4b39!important
}

.text-hv-youtube:hover,
.text-youtube {
	color: #cd201f!important
}

.text-dribbble,
.text-hv-dribbble:hover {
	color: #ea4c89!important
}

.text-flickr,
.text-hv-flickr:hover {
	color: #ff0084!important
}

.text-hv-linkedin:hover,
.text-linkedin {
	color: #0077b5!important
}

.text-hv-tumblr:hover,
.text-tumblr {
	color: #35465c!important
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	font-weight: 300
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	font-weight: 400
}

small {
	font-size: 85%
}

.theme-color {
	color: #3f51b5
}

.flex-grow-1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.pos-s {
	position: static!important
}

.pos-r {
	position: relative!important
}

.badge {
	font-size: 10px;
	font-weight: 500
}

.badge-circle {
	border-radius: 50%
}

.border-radius-0 {
	border-radius: 0!important
}

.border-radius-1 {
	border-radius: .25rem!important
}

.fz-base {
	font-size: 1rem!important
}

.fz-xs {
	font-size: .75rem!important
}

.fz-sm {
	font-size: .875rem!important
}

.fz-lg {
	font-size: 1.25rem!important
}

.lh-2 {
	line-height: 1.8!important
}

.font-weight-200 {
	font-weight: 200!important
}

.font-weight-light {
	font-weight: 300!important
}

.d-table {
	display: table!important
}

.d-table>* {
	display: table-cell!important
}

.img-full {
	width: 100%!important;
	height: auto;
	display: block
}

@media (min-width:768px) {
	.modal-md {
		max-width: 700px
	}
}

.box,
.widget {
	background-color: #fff;
	margin-bottom: 1.5rem;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
	border-radius: 2px;
	overflow: hidden
}

.box small,
.widget small {
	font-size: 95%;
	font-weight: 500
}

.widget-body,
.widget-footer,
.widget-header {
	padding: 1rem
}

.widget-body:after,
.widget-footer:after,
.widget-header:after {
	display: block;
	content: "";
	clear: both
}

.widget-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.widget-title {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
	color: #373a3c
}

h3.widget-title {
	font-size: 20px;
	margin-bottom: 16px;
	font-weight: 500
}

.widget-separator {
	margin: 0 16px
}

.widget p {
	line-height: 1.8
}

.sl-item {
	position: relative;
	padding-bottom: 12px;
	border-left: 1px solid #ccc
}

.sl-item:before {
	left: -6px;
	top: 0;
	width: 12px;
	height: 12px
}

.sl-item:before,
.sl-item:last-child:after {
	content: "";
	position: absolute;
	background-color: #ccc;
	border-radius: 100%
}

.sl-item:last-child:after {
	left: -3px;
	bottom: 0;
	width: 6px;
	height: 6px
}

.sl-item .sl-content {
	margin-left: 24px
}

.sl-item .sl-content p {
	margin: 0
}

.sl-primary {
	border-left-color: #3f51b5
}

.sl-primary:before,
.sl-primary:last-child:after {
	background-color: #3f51b5
}

.sl-success {
	border-left-color: #4caf50
}

.sl-success:before,
.sl-success:last-child:after {
	background-color: #4caf50
}

.sl-warning {
	border-left-color: #ff9800
}

.sl-warning:before,
.sl-warning:last-child:after {
	background-color: #ff9800
}

.sl-danger {
	border-left-color: #f44336
}

.sl-danger:before,
.sl-danger:last-child:after {
	background-color: #f44336
}

.sl-avatar {
	position: absolute;
	left: -22px
}

.site-search {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none
}

.site-search-form {
	z-index: 1;
	position: relative;
	margin-top: 100px;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%
}

.site-search-form .search-field {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	font-size: 3rem;
	color: #333;
	border-bottom: 3px solid #333;
	padding-left: 64px;
	padding-right: 24px;
	width: 100%
}

.site-search-form .search-icon {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 3rem
}

@media (max-width:767px) {
	.site-search-form .search-field {
		font-size: 2rem;
		padding-left: 48px
	}
	.site-search-form .search-icon {
		font-size: 2rem
	}
}

.site-search-close {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	background: none;
	border-radius: 5000px;
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	color: #fff
}

.site-search-backdrop {
	background: rgba(0, 0, 0, .9);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1
}

html {
	height: 100%
}

body {
	position: relative;
	min-height: 100%;
	padding-top: 64px;
	-webkit-transition: padding-top .35s;
	-o-transition: padding-top .35s;
	transition: padding-top .35s
}

@media (max-width:991px) {
	body.menubar-open {
		height: 100%;
		overflow: hidden
	}
	body.navbar-collapse-in {
		padding-top: 128px
	}
}

@media (min-width:992px) {
	body.menubar-top {
		padding-top: 128px
	}
	body.menubar-top .hidden-top {
		display: none
	}
}

.site-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

@media (max-width:991px) {
	.site-main {
		-webkit-transition: -webkit-transform .2s;
		transition: -webkit-transform .2s;
		-o-transition: transform .2s;
		transition: transform .2s;
		transition: transform .2s, -webkit-transform .2s
	}
	body.menubar-open .site-main {
		-webkit-transform: translate3d(240px, 0, 0);
		transform: translate3d(240px, 0, 0)
	}
}

.site-content {
	padding: 24px
}

@media (min-width:1200px) {
	.site-content {
		padding-left: 50px;
		padding-right: 50px
	}
}

.navbar {
	padding: 0;
	height: 64px
}

@media (min-width:992px) {
	.navbar {
		padding-left: 24px;
		padding-right: 24px
	}
}

@media (min-width:1200px) {
	.navbar {
		padding-left: 120px;
		padding-right: 120px
	}
}

.navbar-header {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 240px;
	flex: 0 0 240px;
	height: 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem
}

@media (max-width:991px) {
	.navbar-header {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.navbar-header button:first-of-type {
		margin-right: auto
	}
}

.navbar-brand {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.navbar-brand>.brand-name {
	font-weight: 500
}

.navbar-brand>.brand-icon {
	font-size: 1.75rem
}

.navbar-brand>.brand-icon,
.navbar-brand>img,
.navbar-brand>svg {
	margin-right: .5rem;
	-webkit-transition: margin-right .5s;
	-o-transition: margin-right .5s;
	transition: margin-right .5s
}

@media (max-width:991px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}
}

.navbar-collapse {
	position: relative;
	height: 64px
}

@media (max-width:991px) {
	.navbar-collapse {
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
		box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
		padding-right: .75rem;
		padding-left: .75rem;
		background-color: #fff
	}
}

.navbar-nav .nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 64px;
	padding-left: 1rem!important;
	padding-right: 1rem!important
}

@media (max-width:575px) {
	.navbar-nav .nav-item {
		position: static;
		border: none
	}
}

@media (max-width:991px) {
	.navbar-toggleable-md .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end
	}
	.navbar-toggleable-md .navbar-nav .dropdown-menu {
		position: absolute;
		border-radius: 0;
		margin-top: 0;
		width: 100%;
		top: 100%
	}
}

.navbar-nav .dropdown-toggle:after {
	display: none
}

.navbar-nav .dropdown-menu {
	font-size: .875rem;
	margin-top: 2px;
	min-width: 240px
}

.navbar-nav .dropdown-menu.float-right {
	right: 0;
	left: auto
}

.navbar-toggler {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 64px;
	padding: 0 .75rem;
	font-size: 1rem;
	background: none;
	cursor: pointer
}

.navbar-toggler:focus {
	outline: none
}

.site-panel {
	position: fixed;
	right: -310px;
	width: 300px;
	bottom: 0;
	top: 128px;
	z-index: 999;
	-webkit-transition: right .5s, top .5s;
	-o-transition: right .5s, top .5s;
	transition: right .5s, top .5s;
	background: #fff;
	-webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .08);
	box-shadow: -2px 0 4px rgba(0, 0, 0, .08)
}

.site-panel.show {
	right: 0
}

.site-panel .nav-tabs {
	border-bottom: none
}

.site-panel .nav-tabs .nav-item {
	margin: 0;
	width: 33.33%
}

.site-panel .nav-tabs .nav-link {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px
}

.site-panel .nav-tabs .nav-item+.nav-item>.nav-link {
	border-left-style: solid;
	border-left-width: 1px
}

.site-panel .site-panel-tabs,
.site-panel .tab-pane {
	height: 100%
}

.site-panel .tab-content {
	height: calc(100% - 60px);
	overflow: auto
}

@media (max-width:991px) {
	.site-panel {
		top: 64px
	}
	body.navbar-collapse-in .site-panel {
		top: 128px;
		height: calc(100% - 128px)
	}
}

@media (max-width:575px) {
	.site-panel {
		width: 100%;
		right: calc(-100% - 10px)
	}
}

.site-panel .nav-tabs .nav-link {
	border-left-color: #f0f0f0;
	border-bottom-color: #f0f0f0;
	background: #fbfbfb
}

.site-panel .nav-tabs .nav-link.active,
.site-panel .nav-tabs .nav-link:focus {
	border-bottom: none;
	border-left-color: #f0f0f0;
	background: transparent
}

.site-menubar {
	position: fixed;
	top: 64px;
	z-index: 999
}

@media (max-width:991px) {
	.site-menubar {
		height: calc(100% - 64px);
		width: 240px;
		left: -242px;
		-webkit-transition: left .2s, top .5s;
		-o-transition: left .2s, top .5s;
		transition: left .2s, top .5s
	}
	body.menubar-open .site-menubar {
		left: 0
	}
	body.navbar-collapse-in .site-menubar {
		top: 128px
	}
}

@media (min-width:992px) {
	.site-menubar {
		padding-left: 24px;
		padding-right: 24px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		height: 64px;
		width: 100%
	}
}

@media (min-width:1200px) {
	.site-menubar {
		padding-left: 120px;
		padding-right: 120px
	}
}

@media (max-width:991px) {
	.menubar-scroll-wrapper {
		margin-top: .75rem;
		margin-bottom: .75rem;
		height: calc(100% - 120px);
		overflow: auto
	}
}

@media (min-width:992px) {
	.menubar-scroll-wrapper {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1
	}
}

.site-user {
	padding: 1.5rem 1rem
}

@media (min-width:992px) {
	.site-user {
		-webkit-box-flex: 0;
		-ms-flex: 0;
		flex: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 .5rem
	}
	.site-user .avatar {
		width: 40px;
		height: 40px;
		margin-right: 0
	}
}

.site-menu {
	padding: 0;
	margin: 0
}

.site-menu li {
	position: relative;
	list-style-type: none;
	font-size: .875rem
}

.site-menu li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding: .875rem 1rem;
	text-decoration: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.site-menu .menu-icon {
	width: 1rem
}

.site-menu .menu-text {
	margin-left: 1.5rem;
	margin-right: auto
}

.site-menu .menu-icon+.menu-text {
	margin-left: 1rem
}

.site-menu .menu-caret {
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition: -webkit-transform .5s ease-in-out;
	-o-transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out
}

.site-menu li.open>a .menu-caret {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.site-menu .submenu {
	display: none
}

@media (min-width:992px) {
	.site-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 64px
	}
	.site-menu .menu-caret {
		margin-left: 1rem
	}
	.site-menu .submenu {
		min-width: 220px;
		z-index: 999;
		display: none!important
	}
	.site-menu li>.submenu {
		position: absolute;
		top: 0;
		left: 100%
	}
	.site-menu>li>.submenu {
		top: 100%;
		left: 0
	}
	.site-menu li:hover>.submenu {
		display: block!important
	}
}

.site-footer {
	border-top: 1px solid #e1e1e1;
	background: none;
	padding: .75rem 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #fff
}

.site-footer .copyright {
	margin-right: auto
}

.site-footer .footer-menu a {
	color: #6a6c6f;
	display: inline-block;
	margin-right: 16px
}

.site-footer .footer-menu a:last-child {
	margin-right: 0
}

@media (max-width:767px) {
	.site-footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 1rem
	}
	.site-footer .footer-menu {
		margin-bottom: 1rem
	}
	.site-footer .copyright {
		margin-right: 0
	}
}

.site-menubar {
	background: #fff;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .08);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}

.site-user .username,
.site-user .usertitle {
	color: #555
}

@media (max-width:991px) {
	.site-user {
		border-bottom: 1px solid #eee
	}
}

.site-menu li.menu-section-heading,
.site-menu li a {
	color: #555
}

.site-menu .menu-icon {
	color: #6f6f6f
}

body.menubar-left .site-menu li.open,
body.menubar-left .site-menu li:hover,
body.menubar-top .site-menu li:hover {
	background-color: hsla(0, 0%, 95%, .5)
}

body.menubar-top .site-menu>li:hover,
body.menubar-top .site-menu li:hover>.submenu {
	background: #fafafa
}

body.menubar-top .site-menu .submenu {
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .08);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}

body.menubar-inverse .site-menubar {
	background: #3b3e47
}

body.menubar-inverse .site-user .username,
body.menubar-inverse .site-user .usertitle {
	color: hsla(0, 0%, 100%, .7)
}

@media (max-width:991px) {
	body.menubar-inverse .site-user {
		border-bottom: 1px solid #42454f
	}
}

body.menubar-inverse .site-menu .menu-icon,
body.menubar-inverse .site-menu li a {
	color: hsla(0, 0%, 100%, .7)
}

body.menubar-inverse.menubar-left .site-menu li.open,
body.menubar-inverse.menubar-left .site-menu li:hover,
body.menubar-inverse.menubar-top .site-menu li:hover {
	background-color: rgba(47, 50, 57, .5)
}

body.menubar-inverse.menubar-top .site-menu>li:hover,
body.menubar-inverse.menubar-top .site-menu li:hover>.submenu {
	background: #363941
}

.site-navbar .navbar-collapse {
	background-color: #fff
}

.site-navbar .hamburger {
	background: none
}

.site-navbar .hamburger .hamburger-inner,
.site-navbar .hamburger .hamburger-inner:after,
.site-navbar .hamburger .hamburger-inner:before {
	background-color: #6a6c6f
}

@media (min-width:992px) {
	.site-navbar .navbar-nav .nav-link:focus,
	.site-navbar .navbar-nav .nav-link:hover {
		background-color: hsla(0, 0%, 95%, .5)
	}
	.site-navbar .navbar-nav .page-title {
		color: #6a6c6f
	}
}

@media (max-width:991px) {
	.site-navbar {
		border-bottom: none!important
	}
	.site-navbar .navbar-collapse {
		background-color: #fff
	}
}

.site-navbar.navbar-inverse .navbar-collapse {
	background-color: transparent;
	border-bottom: none
}

.site-navbar.navbar-inverse .hamburger {
	background: none
}

.site-navbar.navbar-inverse .hamburger .hamburger-inner,
.site-navbar.navbar-inverse .hamburger .hamburger-inner:after,
.site-navbar.navbar-inverse .hamburger .hamburger-inner:before {
	background-color: #fff
}

@media (min-width:992px) {
	.site-navbar.navbar-inverse .navbar-nav .page-title {
		color: hsla(0, 0%, 100%, .7)
	}
	.site-navbar.navbar-inverse .navbar-nav .nav-link {
		color: hsla(0, 0%, 100%, .7);
		font-weight: 400
	}
	.site-navbar.navbar-inverse .navbar-nav .nav-link:focus,
	.site-navbar.navbar-inverse .navbar-nav .nav-link:hover {
		color: #fff;
		background-color: rgba(0, 0, 0, .05)
	}
}

@media (max-width:991px) {
	.site-navbar.navbar-inverse .navbar-collapse {
		background-color: #fff
	}
	.site-navbar.navbar-inverse .navbar-nav .nav-link {
		color: #6a6c6f
	}
	.site-navbar.navbar-inverse .navbar-nav .nav-link:focus,
	.site-navbar.navbar-inverse .navbar-nav .nav-link:hover {
		background-color: hsla(0, 0%, 95%, .5);
		color: rgba(0, 0, 0, .7)
	}
}

.navbar-header .hamburger {
	background: none
}

.navbar-header .hamburger .hamburger-inner,
.navbar-header .hamburger .hamburger-inner:after,
.navbar-header .hamburger .hamburger-inner:before {
	background-color: #fff
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover {
	color: #fff
}

img {
	x-overflow: hidden;
	max-width: 100%
}